---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BaseHead from '../../components/BaseHead.astro';
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

export const getStaticPaths = (async () => {
  const entries = await getCollection("notes", ({ data }) => !data.draft);
  return entries.map((e) => ({
    params: { slug: e.slug },
    props: { entry: e },
  }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<!doctype html>
<html lang="ja">
    <head>
        <BaseHead title={`Notes - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
  <body>
    <main>
      <article>
        <h1>{entry.data.title}</h1>
        <Content />
      </article>
    </main>
  </body>
</html>