---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>このサイトについて</h1>
			<p>
				このサイトでは、私の日々の研究、勉強ノート、本の書評や解説など日々の活動を記録しております。
				特に、人工知能や数学、物理学などの理系分野を中心に、哲学や文学などの文系分野も幅広く扱っております。
				また、趣味の内容も記録しております。
			</p>

			<h1>筆者について</h1>
			<p>
				京都府立京都すばる高校の情報科学科出身であり、京都産業大学の情報理工学部でございます。
				メインとして情報、特に人工知能に関することをしております。
				情報が主軸ではございますが、数学基礎論や理論物理、西洋哲学など幅広い分野に興味があります。
				というのも、学問というものは利便上の分類があるだけであって、実際には全てが繋がっていると考えているからです。
				趣味は本、背広、コーヒー、骨董品収集、散歩など幅広いです。
				昭和の文化が好きで、日々昔の紳士になれるよう努力しております。
				詳しくは以下のページを参考にしてください。
			</p>
		</main>
	</body>
</html>
