---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>

			<section>

				<h1>筆者について</h1>
				<p>
					京都府立京都すばる高等学校の情報科学科出身であり、京都産業大学の情報理工学部に在学しております。
					園木優陽（そのきゆうひ）と申します。
					メインとして情報、特に人工知能に関することをしております。
					情報が主軸ではございますが、数学基礎論や理論物理、西洋哲学など幅広い分野に興味があります。
					というのも、学問というものは利便上の分類があるだけであって、実際には全てが繋がっていると考えているからです。
					趣味は本、背広、コーヒー、骨董品収集、散歩など幅広いです。
					昭和の文化が好きで、昔ながらの良き紳士になれるよう努力しております。
				</p>	
			</section>

			
			<section>

				<h1>このサイトについて</h1>
				<p>
					このサイトでは、私の日々の研究、勉強ノート、本の書評や解説など日々の活動を記録しております。
					特に、人工知能や数学、物理学などの理系分野を中心に、哲学や文学などの文系分野も幅広く扱っております。
					また、趣味の内容も記録しております。基本的に、余計な情報や装飾を排除し、文字をつかいそのコンテキストで
					自身の考えを正確に伝えることを心がけております。また、内容においては極力ニュートラルな立場から論ずることを意識してはいるものの、
					やはり人間たるもの、完全に主観を排除することは不可能でありますので、皆様もそのような前提のもと、記事を読んでいただけたら幸いでございます。
					そして、私はまだまだ学生の身分であるため、内容に関して不正確な部分や誤りがある可能性もございます。
					その点に関しては、もしお気づきの点がございましたら、ぜひご指摘・ご指導をいただければ幸いでございます、
				</p>
	
				<h2> サイトを作った経緯</h2>
				<p>中学から情報の道を志し、情報科学科の高校を得て、情報理工学部の大学へと進んできたものでありますが、いざこれまでの自分を振り返ってみると、
					目に見えてわかる作品があまりないことに気づきました。というのも、分野が幅広く、横断的で、どちらかと言えば技術者というより理論家であるためです。
					もちろん今まで空想に耽っていたわけではなく、日々研究や勉強をしておりますが、その内容を世に出すことはしてきませんでした。
					そこで、少しでも自分の活動を多くの人に見てもらえるようにするために、このサイトを作ることにしました。
					私の書いたものが、世の中の皆さまのお役に立てれば幸いであると考えております。</p>
	
				<h2>サイトの構成</h2>
				<ul>
					<li>Profile: 筆者のプロフィールやこのサイトについての説明など。</li>
					<li>Notes: 筆者が日々の研究や勉強の内容について、より正確な文献のもと記録したもの。</li>
					<li>Journal: 筆者の日々の活動の記録。研究や勉強の内容、趣味のことなど。正式な文書ではない雑多なもの。</li>
				</ul>
			</section>

			<section>
				<h1>お知らせ</h1>
				<p>現在、サイトの内容を充実させるために、日々記事を更新しております。特に、Notesの内容を充実させていく予定でございますので、ぜひご期待ください。</p>
			</section>

			<section>
			<h1>お問合せ</h1>
			<p>ご質問やご指摘などがあれば、以下のメールアドレスまでご連絡ください。</p>
			<p><a href="mailto:sonoyu1229@outlook.jp">sonoyu1229@outlook.jp</a></p>
			</section>

			<section>
			<h1>各種SNSリンク</h1>
				<ul>
					<li>Twitter: <a href="https://x.com/sonoyu1229" target="_blank">@sonoyu1229</a></li>
					<li>GitHub: <a href="https://github.com/enoki003" target="_blank">enoki003</a></li>
					<li>Instagram: <a href="https://www.instagram.com/enoki003/" target="_blank">@sonoyu1229</a></li>
				</ul>
			</section>
		</main>
	</body>
</html>




<!-- //ちなみに、このサイトはAstroというフレームワークを用いて作成しております。Astroは、コンポーネントベースの静的サイトジェネレーターであり、ReactやVueなどのフレームワークと組み合わせて使用することができます。 -->